autoscan.log
config.log
config.status
makefile
*~
autom4te.cache
*.o
*.mod
*.pyc
*.tgz
*.dSYM
*.so
*.a
fitpot/run_pmd.sh
dump_*
pmdfin
out.pmd
out.erg
erg.pmd
frc.pmd
strs.pmd
traj.extxyz
subdir_[0-9]*
